*{
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}
body{
   background-color:lightgrey;
}
div {
   display: block;
}
.col20{
   width:20%;
}
.col30{
  width: 30%;
}
.col40{
  width:40%;
}
.col50{
  width: 50%;
}
.col60{
  width:60%
}
.col80{
  width:80%;
}
.img{
  width:100%;
}
/*CSS co đinh man hinh*/
@media screen and (max-width: 700px) {
   body {
   padding: 170px 0 0 0;
   width: 100%;
   }
}
 /*CSS HEADER*/
header{
   background-color: rgb(211, 193, 180);
   width: 100%;
   border-bottom: 1px dotted white;
}
div.head{
    width:80%;
    height: 50px;
    margin: 0px auto;
    vertical-align: middle;
}
div.head-left{
    width: 50%;
    float: left;
    margin-top: 10px;
}
div.head-left>a{
    width: 30x;
    height: 10px;
    padding: 7px;
    margin-left: 1%;
}
div.head-left>a{
    width: 20px;
    height: 20px;
}
div.head-right{
    float:right;
    margin-top: 10px;
}
#search{
    padding: 7px;
    margin-left: 5%;
    color: black;
}
/*CSS GO TOP*/
#scrollTop{
   display: block;
   right: 20px;
   bottom: 30px;
   position: fixed;
   font-size: 26px;
   border: 1px solid rgb(60, 60, 119);
   border-radius: 100%;
   padding: 3px 10px 3px 10px;
   cursor: pointer;
   background-color: whitesmoke;
}
/*CSS NAV*/
.clearfix{
   clear:both;
}
div.wrapper{
   width:80%;
   margin:0px auto;
   display: flex;
}
a.logo>img{
   height:100%;
   width:100%;  
}
ul.menu{
   list-style-type:none;
   padding:0px;
   margin:0px;
   display:flex;
}
ul.menu>li{
    min-width: 200px;
    text-align:center;
    border-right: 1px solid white;
}
ul.menu>li:last-child{
    border-right:none;
}
ul.menu>li>a{
   position: relative;
   display: block;
   text-decoration: none;
   color:rgb(68, 44, 44);
   font-size:20px;
   font-weight:bold;
   line-height: 80px;
}

ul.menu>li>a:hover{
   background-color:rgb(68, 44, 44);
   color:white;
   transition: background-color ease-in 0.5;
}
/*CSS CAROUSEL SLICE*/
.d-block{
    width:500px;
    height: 550px;
    display: block !important;
    margin:0px auto;
}
/*CSS INTRO*/
div.banner-intro{
   margin: 0px auto;
   background-image: url(../images/introduction/Banner-intro5.jpg);
   background-size: cover;
   opacity: 0.5;
   background-repeat: no-repeat;
   width: 1076px;
   height: 277px;

}
div.banner-title{
   border: 2px dotted gray;
   width: 776px;
   height: 240px;
   margin: auto;
}
.animate__animated {
   --animate-duration: 2s;
   animation-iteration-count: inherit;
}
#Title-shop {
   text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
   font-family: Roboto Slab,serif;
   font-size: 60px;
   font-weight: bold;
   letter-spacing: 2px;
   color: #323a45;
   text-align: center;
   line-height: 240px;
}
section.intro{
   text-align: justify;
   width:90%;
   color:gray;
   padding: 20px;
   margin: 0px auto;
   height: 100%;
}
div.intro-img{
   width: 100%;
   height: 60%;
   margin: 0px auto;
   text-align: center;
}
div.intro-img> img{
   width: 60%;
   padding: 30px;
}
div.cause-devices{
   border-top: lightslategray dashed;
   border-bottom:lightslategray dashed;
   padding: 10px;
   margin: 50px 10px 10px 10px;
   text-align: center;
   font-weight: bold;
}
@keyframes doimauchu{
   0%{
      color: gray;
   }
   50%{
      color: rgb(226, 143, 75);
   }
   100%{
      color:  rgb(247, 132, 38);
   }
}
div.cause-devices h2{
   animation: doimauchu ease 1s infinite;
}
div.row-devices{
   display: flex;
   flex-wrap: wrap;
   margin: 0px auto;
   width: 100%;
   overflow: hidden;
   cursor: pointer;
}

div.device{
   width: 25%;
   padding: 10px;
   text-align: center;
}
div.row-devices::before{
   content: '';
   color: white;
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
   transform: scaleX(0);
   transition: transform 1s;
   z-index: -1;
   border-radius: 10px;
   
}
div.row-devices:hover::before{
   position: absolute;
   content:'';
   background-color: rgb(6, 7, 20);
   color: white;
   text-align: center;
   transform: scaleX(1);
   transform-origin: left;
   box-shadow: 5px 5px 10px 0 gray;
   
}
div.device-icon-img{
   background-color: white;
   width: 80px;
   height: 80px;
   padding: 10px;
   margin-left: 95px;
   max-width: 100%;
   position: relative;
}
div.device-icon-img>img{
   width: 100%;
}
div.device-text>h4{
   font-weight: bold;
   color: lightseagreen;
   padding-bottom: 6px;
}
/*CSS content*/
.content{
   width:95%;
   display: flex;
   clear:left;
   margin: 0px auto;
}
.left{
    width:20%;
    padding: 0px;
    margin: 16px 28px 10px 10px;
}
.right{
    width:80%;
    margin: 0px;
    padding: 15px;
    background-color: white;
}
/*CSS LIST*/
div.vertical{
   height: 100%;
}
div.Advert{
   background-image: url(../images/introduction/advert.png);
   width: 240px;
   height: 419px;
   position: relative;
   margin-bottom: 30px;
}
div.sale{
   background-size: cover;
   width: 240px;
   height: 120px;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
}
div.sale img{
   width: 100%;
}
div.Advert>div:last-child{
   background-color: yellow;
   opacity: 0.8;
   width: 200px; 
   height: 50px;
   bottom: 5px;
   margin: 0px auto;
   
}
div.Advert>div:last-child>a:hover{
   cursor: pointer;
   display: block;
   text-decoration: none;
}
div.Advert>div:last-child:hover{
   cursor: pointer;
   display: block;
   transform: scaleX(1.2);
}

@keyframes doimausale{
   0%{
      color: black;
   }
   50%{
      color: rgb(226, 143, 75);
   }
   100%{
      color: red;
   }
}
div.Advert>div:last-child>a{
   color: black;
   text-transform: uppercase;
   text-align: center;
   line-height: 50px;
   font-weight: bold;
   animation: doimausale ease 0.5s infinite;
}
div.youtobe-shop{
   border-top: 1px lightslategray solid;
   border-bottom: 1px lightslategray solid;
   text-shadow: 2px 2px 2px  lightslategray ;
   font-size: 20px;
   
   margin-bottom: 10px;
   text-align: center;
   font-weight: bold;
   padding: 10px;
}
div.youtobe-shop p{
   margin-top: 1px ;
   margin-bottom: 1px;
}




/*css slice-product*/
.slice-product{
   background-color: #0D1B2B;
   margin: 0 auto;
   overflow: hidden; 
   margin-bottom: 30px;
   height: 400px;
}
.flex {
   display: flex;  
}
.slider-wrapper div {
   position: relative;
}
.slider-wrapper {
   margin: 40px 0px 0px 40px;
}
.slide-image {
   height: 316px;
   width: 316px; 
}
.slide-image img {
   width: 100%; 
   cursor: pointer;
}
.slide-content {
   width: 771px; 
   color: #fff; 
   padding: 47px 180px 22px 79px;
}
.slide-note {
   color: #0a8acb; 
   font-size: 13px; 
   font-weight: 400px; 
   padding-bottom: 9px;
   letter-spacing: 1px; 
}
.slide-title {
   font-size: 30px; 
   font-weight: 400px; 
   line-height: 21px; 
   padding-bottom: 23px;
   letter-spacing: 1px;
}
.slide-text {
   font-size: 14px; 
   line-height: 20px; 
   opacity: 0.8; 
   padding-bottom: 53px;
}
.slide-more {
   font-weight: 400px;
   font-size: 12px;
}
.slide-more>a{
   text-decoration: none;
   display: block;
}
.slide-more:hover{
   cursor: pointer;
   background-color: orange;
   opacity: 0.8;
   color:black;
   width: 60px;
}
.arrows{
   width: 46px; 
   margin-top: -70px; 
   margin-left: 940px; 
   position: relative;
}
.arrow {
   position: absolute; 
   width: 15px;
   height: 15px;  
   border-top: 2px solid #fff; 
   border-left: 2px solid #fff; 
   transition: all .1s ease-in-out; 
   text-decoration: none;
}
.arrow:hover {
   border-color: #0A8ACB;
   border-width: 4px;
}

.arrow.prev {
   transform: rotate(-45deg);
   left: 0;
}
.arrow.next {
   transform: rotate(135deg); 
   right: 0;
}
/*CSS PRODUCTS*/
p.subject{
    width:20%;
    background-color: burlywood;
    color: white;
    font-size: 26px;
    text-align: center;
    border-radius:20px 20px 0px 0px;
    margin-bottom:0px;
}
div.line{
   width:100%;
   height: 5px;
   background-color: burlywood;
}
div.products{
   display: flex;
   flex-wrap: wrap;
}
div.product{
   width:25%;
   box-shadow: 5px 5px 10px 0 gray;
   border-radius: 5px;
   text-align: center;
   position: relative;
}
.button_more{
   width: 180px;
   height: 150px;
   display: block;
   opacity: 0;
   top: 61px;
   left: 47px;
   position: absolute;
  /* margin: 70px 30px 70px 30px;*/
}
.button_more div{
   padding: 1%;
}
div.t{
   width: 60%;
   height: 35px;
   background-color: rgb(31, 29, 29);
   border-radius: 10px;
   line-height: 35px;
}
div.x{
   width: 60%;
   height: 35px;
   background-color: orangered;
   border-radius: 10px;
   line-height: 35px;
}
.button_more div a{
   text-decoration: none;
   color: white;

}

.button_more:hover{
   opacity: 1;
   cursor: pointer;
   transition: ease-out 1s;
   transform: scale(1);
}

.image_product:hover> img{
   opacity: 0.5;
   transition: ease-in 1s;
   transform: scale(1.2);
}

.image_product{
   width: 100%;
   height: 204px;
   position: relative;
   overflow: hidden;
}
.image_product>img{
   width: 100%;
}
div.item-product{
   padding: 5px;
   margin: 4%;
}
figure {
   margin: 5;
}
figure > img{
   width: 100%;
   border-radius:5px;
}
figcaption{
   color:  rgb(77, 64, 45);
   text-decoration: bold;
   text-shadow: rgb(143, 126, 104);

}
/*CSS FOOTER*/
footer{
   background-color: #212529;
   color:#DEE2E6;
   padding: 20px;
}
footer ul{
   list-style-type: none;
   padding : 0px;
   margin : 0px;
}
div.col{
   display: flex;
   width: 100%;
   margin: auto;
}
.item-footer{
   margin-right: 15%;  
}
ul.ft>li>a{
   padding: 0%; 
   color: white;
}
ul.ft>li>a:hover{
   color: rgb(247, 137, 118);
}
/*css menumini*/
div.menumini{
   position: relative;
}
div.menumini ul{
   list-style-type: none;
   padding:0px;
   margin:0px;
   display:flex;
   flex-direction: column;
   bottom: 100px;
   left:0px;
   position: fixed;
   opacity: 0.8;
}
div.menumini ul li{
   width: 60px;
   height: 60px;
   border: 1px solid gray;
   border-radius: 10px;
   background-color:lightgray;
   cursor: pointer;
}
div.menumini ul li a{
   text-decoration: none;
   display: block;
   position: relative;
   transition: 0.5s;

}
div.menumini ul li a i{
   display: block;
   font-size: 30px;
   line-height:60px;
   padding-left: 14px;
   color: black;
}
div.menumini ul li a::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
   transform: scaleX(0.5);
   transition: transform 0.5s;
   z-index: -1;
   border-radius: 10px;
   
}
div.menumini ul li a:hover::before{
   position: absolute;
   content:'';
   background-color: burlywood;
   text-align: center;
   transform: scaleX(1);
   transform-origin: left;

}
/*CSS modal*/
.modal-dialog{
   overflow-y: initial !important
}
.modal-body{
   height: 400px;
   overflow-y: auto;
   margin: auto;
}
table.infor ,input[type=email], input[type=text].F/* chỗ này đặt thêm class để khỏi trùng với cái ô tìm kiếm */ , textarea{
   text-align: left;
   width: 100%;
   padding: 10px;
   margin-bottom: 3px;
}



